/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body {
   padding: 0;
   margin: 0;
   height: 100%;
   overflow: hidden;
   background-color: #000;
   font-family: 'courier';
   color: #7CFC00;
 }


 #game-canvas {
   overflow: hidden;
 }

#main {
  text-align: center;
}

.high-scores {
  margin: 0 auto;
  width: 500px;
  border: solid 1px white;
  height: 50%;
  font-size: 18px;
}
.high-scores table {
  width: 90%;
  margin: 0 auto;
  text-align: left;
}

#play-button {
  padding: 7px;
  height: 20px;
  width: 40px;
  border: solid 1px #7CFC00;
  margin: 20px auto;
}

#play-button:hover {
  background-color: #7CFC00;
  padding: 7px;
  height: 20px;
  width: 40px;
  border: solid 1px #7CFC00;
  margin: 20px auto;
  color: black;
}
