<h1>Welcome to AStricks<h1>
<h2>Like asteroids, but Aaron Strick</h2>
<h3>Arrow Keys to move. Space to fire.</h3>

<div class="high-scores">
  <h1>High Scores</h1>
  <table>
    <tr>
      <th>Rank</th>
      <th>Name</th>
      <th>Score</th>
    </tr>
    <% games.each(function(game, index){ %>
      <tr>
      <% if (index < 10) { %>
        <td><%= (index + 1) %></td>
        <td><%= game.escape('name') %></td>
        <td><%= game.escape('score') %></td>
      </tr>
    <% }}) %>
  </table>
</div>
<div class="space-button play-button">Play! </div>

<div id="high-score-form">
<h3> You got a high score! </h3>
  <form class="high_score_form" id="score-form">
    <input
      type="hidden"
      id="game_score"
      name="game[score]"
      value="<%= points %>">

    <label for="game_name">Name:</label>
    <input
      type="text"
      id="game_name"
      name="game[name]"
      class="form-input">
  </form>
  <div class="space-button" id="submit-form">Submit</div>
  <div class="space-button" id="play-button">Play Again</div>
</div>

<script>
  $(".play-button").on("click", function() { Asteroids.Util.startGame(); })
  $("#submit-form").on("click", function() { Asteroids.Util.submitForm(); })

</script>
